version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: feeder_proy_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8001:8001"
  
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: feeder_mosquitto
    restart: always
    ports:
      - "1883:1883"   # Puerto MQTT
      - "9001:9001"   # WebSockets (opcional)
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

volumes:
  pgdata:
